# Python version (ensure you are using the latest Python 3.x version)
python

# Django framework (Update to the latest Django version available)
Django

# AWS SDK for Python (Boto3) for AWS integration (Update to the latest boto3 version)
boto3

# AdminLTE3 (Update to the latest available version of AdminLTE3 if newer versions are available)
django-adminlte3

# Django Storages for AWS S3 integration (optional, use either boto3 or django-storages[s3])
# Update to the latest version of django-storages with S3 support
django-storages[s3]>=1.14.2
