form {
    min-width:300px;
    max-width:400px;
    padding:25px;
    margin:0 auto;
    background:#ffffff59; 
    -webkit-box-shadow: 3px 3px 23px -9px rgba(0,0,0,0.86);
    -moz-box-shadow: 3px 3px 23px -9px rgba(0,0,0,0.86);
    box-shadow: 3px 3px 23px -9px rgba(0,0,0,0.86);
  }
  
  form input {
    border:1px solid #eee;
    border-radius:0 !important;
    padding:5px 8px;
    color:#444;
  }
  
  form button {
    color:#555;
    background:#ffffffad;
    border:1px solid #fff !important;
    margin-top:20px;
    border-radius:0px Important;
  }
  
  .pull-right {
    float:right;
  }
  body {
    background: #0d0f0f;
    background: -webkit-linear-gradient(to right, #94d4ff, #ac70f5);  
    background: linear-gradient(to right, #ffffff, #b5b1b1);
  }

