form {
    min-width:300px;
    max-width:400px;
    padding:25px;
    margin:0 auto;
    background:rgba(223, 223, 223, 0.838)
    
  }
  
  form input {
    border:1px solid #eee;
    border-radius:0 !important;
    padding:5px 8px;
    color:#444;
  }
  
  form button {
    color:#555;
    background:#ffffffad;
    border:1px solid #fff !important;
    margin-top:20px;
    border-radius:0px Important;
  }
  
  form button:hover {
    background:#fff !important;
  }
  
  .pull-right {
    float:right;
  }
  
  body {
    background: #0d0f0f;
    background: -webkit-linear-gradient(to right, #94d4ff, #ac70f5);  
    background: linear-gradient(to right, #363535, #777e7f);
  }