body {
  background: #0d0f0f;
  background: -webkit-linear-gradient(to right, #94d4ff, #ac70f5);  
  background: linear-gradient(to right, #ffffff, #b5b1b1);
}

.backcolor{
    background-color: #bcbcbc;
  }

.nav{
    background-color: #008adf;
}

a{
  color: #ffffff;
}

.coursediv{
  color: white;
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #8e990d;
    border: 1px solid #000000;
    border-radius: .25rem;
}