.nn{
    /* background: #0d0f0f;
    background: -webkit-linear-gradient(to right, #94d4ff, #ac70f5);  
    background: linear-gradient(to right, #6e6a6a, #777e7f); */
    background-color: black;
  }