<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>

<title>Academix Portal</title>

</head>

<body>
    <div>
        <form action="mycourses/CT-304/addassignment" method="post">
            {% csrf_token %}
            <label for="title">Assignment Name</label>
            <input type="text" id="assignmentename" name="assignmentname">
            <br>

            <label for="title">Description</label>
            <input type="text" id="description" name="description">
            <br>

            <label for="title">Due-Date</label>
            <input type="datetime-local" id="duedate" name="duedate">
            <br>

            <label for="title">Max-Grade</label>
            <input type="number" id="max_grade" name="max_grade">
            <br>

            <label for="title">File</label>
            <input type="file" id="attachment" name="attachment">
            <br>

            
            <input type="submit" value="Add">
        </form>
    </div>
</body>
</html>