<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>

<title>Academix Portal</title>

<link rel="stylesheet" href="static/css/add_assignment.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body>
    <div class="d-flex align-items-center justify-content-center" style="padding-top:10%;">
        <form action="/mycourse/{{courseid}}/addassignment" method="post">
            {% csrf_token %}
            <div class="container">
                   <div class="form-group">
                    <label for="name">Assignment Name :</label>
                    <input type="text" class="form-control" name="name">
                  </div>

                  <div class="form-group">
                    <label for="description">Description : </label>
                    <textarea type="text" class="form-control" name="description"></textarea>
                  </div>

                  <div class="form-group">
                    <label for="duedate">Due-Date : </label>
                    <input type="datetime-local" id="duedate" class="form-control" name="duedate">
                  </div>

                  <div class="form-group">
                    <label for="max_grade">Max-Grade :</label>
                    <input type="number" class="form-control" name="max_grade">
                  </div>   

                  <div class="form-group">
                    <label for="attachment">File URL :</label>
                    <input type="url" class="form-control" name="attachment">
                  </div>
                
                    <button type="submit" class="btn border" style="float:right">Add</button>
              </div> 
        </form>
    </div>


    <script>
        
    </script>
</body>
</html>