<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>

<title>Academix Portal</title>

<link rel="stylesheet" href="static/css/add_assignment.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body>
    <div class="d-flex align-items-center justify-content-center" style="padding-top:10%;">
        <form action="mycourses/CT-304/addassignment" method="post">
            {% csrf_token %}
            <div class="container">
                <form action="/action_page.php">
                   <div class="form-group">
                    <label for="name">Material Name :</label>
                    <input type="text" class="form-control" name="name">
                  </div>

                  <div class="form-group">
                    <label for="dob">Description : </label>
                    <textarea type="text" class="form-control" name="dob"></textarea>
                  </div>

                  <div class="form-group">
                    <label for="income">File :</label>
                    <input type="file" class="form-control" name="income">
                  </div>
                
                    <button type="submit" class="btn border" style="float:right">Add</button>
                   </form>
              </div> 
        </form>
    </div>


    <script>
        
    </script>
</body>
</html>