<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>

<title>Academix Portal</title>

</head>

<body>
    <div>
        <form action="/addcourses" method="post">
            {% csrf_token %}
            <input type="text" id="coursename" name="coursename">
            <br>
            <input type="text" id="courseid" name="courseid">
            <br>
            <input type="text" id="description" name="description">
            <br>
            <input type="text" id="faculty" name="faculty">
            <br>
            <input type="submit" value="add">
        </form>
    </div>
    
</body>
</html>