{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>

<title>Academix Portal</title>

</head>

<body>
    <div>
        <form action="/addcourses" method="post">
            {% csrf_token %}
            <input type="text" id="coursename" name="coursename">
            <br>
            <input type="text" id="courseid" name="courseid">
            <br>
            <input type="text" id="description" name="description">
            <br>
            <input type="text" id="faculty" name="faculty">
            <br>
            <input type="submit" value="add">
        </form>
    </div>
    
</body>
</html> {% endcomment %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>

<title>Academix Portal</title>

<link rel="stylesheet" href="static/css/add_assignment.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body>
    <div class="d-flex align-items-center justify-content-center" style="padding-top:10%;">
        <form action="/addcourses" method="post">
            {% csrf_token %}
            <div class="container">
                   <div class="form-group">
                    <label for="coursename">Course Name :</label>
                    <input type="text" id="coursename" class="form-control" name="coursename">
                  </div>

                  <div class="form-group">
                    <label for="courseid">Course ID :</label>
                    <input type="text" id="courseid" class="form-control" name="courseid">
                  </div>

                  <div class="form-group">
                    <label for="description">Description :</label>
                    <input type="text" id="description" class="form-control" name="description">
                  </div>

                  <div class="form-group">
                    <label for="faculty">Faculty</label>
                    <input type="text" id="faculty" class="form-control" name="faculty">
                  </div>   
                
                    <button type="submit" class="btn border" style="float:right">Add</button>
             </div> 
        </form>
    </div>


    <script>
        
    </script>
</body>
</html>