{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Academix Portal</title>

    <link rel="stylesheet" href="static/css/login_page_student.css">

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

  </head>
  <body>
    <!-- for background -->
  <div class="background">
  </div>

  <!-- for form container -->
  <div class="container">
    <h2 style="margin-top:5px">STUDENT LOGIN</h2>
    <form action="/studentlogin" method="post">
      {% csrf_token %}
      <div class="form-item">
        <span class="material-icons-outlined">
          Username
        </span>
        <input type="text" name="user" id="user" placeholder="Email or Username" required>
      </div>
      &nbsp;

      <div class="form-item">
        <span class="material-icons-outlined">
          Password
        </span>
        <input type="password" name="pass" id="pass" placeholder="password" required>
      </div>
      &nbsp;

      <button type="submit">LOGIN</button>
      &nbsp;

      <div class="form-end">
        <p><a href="#">Forget Password</a></p>
        <p><a href="#"> Create an Account</a></p>
      </div>

    </form>
  </div>
  </body>

  <script>

    function login(){
        var uname = document.getElementById("user").value;
        var pwd = document.getElementById("pass").value;
        var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        if(!filter.test(uname)){
          alert("Please enter valid username!");
                // document.getElementById("user").innerHTML = uname;
                // document.getElementById("pass").innerHTML = pwd;
        }

        else if(pwd.length < 8){
          alert("Minimum length of the password should be 8!");
                // document.getElementById("user").innerHTML = uname;
                // document.getElementById("pass").innerHTML = pwd;
        }
        else{
          alert('Redirecting you to your dashboard...');
        }
      }

  </script>
</html>
