{% extends 'navbar.html' %}
{% load static %}

{% block head %}


<link rel="stylesheet" href="{% static 'css/announcements.css' %}">
<link rel="stylesheet" href="{% static 'css/stylish.css' %}"> 
<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>

<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->
<style>
  .button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: #ff0000;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .button-5:hover,
  .button-5:focus {
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .button-5:hover {
    background-color: #cc0000;  
    transform: translateY(-1px);
  }
  
  .button-5:active {
    background-color: rgb(109, 109, 255);
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }


  .button-3 {
    align-items: center;
    background-clip: padding-box;
    background-color: #d43b75;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 2rem;
    padding: calc(.5rem - 1px) calc(1rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .button-3:hover,
  .button-3:focus {
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .button-3:hover {
    background-color: #c92865;  
    transform: translateY(-1px);
  }
  
  .button-3:active {
    background-color: rgb(109, 109, 255);
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }

  body{
  background-image: url("/static/images/img_03.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

.ww {
  /* background-color: #afe6ed;  */
  box-shadow:5px ;

}
.ww:hover{
  /* background-color: #6fdbea;  */
  box-shadow: 5px 5px 10px ;
}
.list-group {
        display: contents;
      }
  

      
  </style>
{% endblock %}


{% block body %}

  <div class="list-group container-fluid">
    
    <div class="col-12">
      {% if isprof %}
    <div style="padding-top:25px; padding-left:25px;"><a href="{{ course.course_code }}/addannouncement"><button class="button-3 text-white" role="button" style="background-color: #004574">Add Announcements &nbsp;
      <i class="fa-regular fa-square-plus fa-lg"></i>  </button></a></div>
{% endif %} 
{% if messages %}
{% for msg in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>{{ msg }}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
    {% for x in announce %}
    <div class="m-3 p-2" style="border-radius: 8px; opacity: 0.9;">
      <div class="list-group-item list-group-item-action ww" >
        
      <div class="d-flex w-100 justify-content-between" style="padding-top: 10px;">
        <h5 class="mb-1" style="color:black; font-family:'Nunito'; font-weight: 700; font-size: 1.4rem;"><i class="fa-regular fa-circle-user fa-lg" style="padding-right: 10px;"></i> {{x.title}}</h5>
        <small>{{x.timestamp}}</small>
      </div>
      <hr class="border">
      {% if isprof %}
      <a href="{{ course.course_code }}/deleteannouncement/{{ x.id }}"><button role="button" class="button-3 text-white" style="float:right; background-color: #004574;">Remove &nbsp;<i class="fa-regular fa-trash-can fa-lg"></i>
      </button></a>
      {% endif %}
      <div>
      <p class="mb-1" style="color:black">{{x.description}}</p>
      <small>{{x.user}}</small>
      </div>
      
    </div>
    </div>
    {% endfor %}
  </div>
    
  </div>



  {% endblock %}