{% extends 'navbar.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/announcements.css' %}">
<link rel="stylesheet" href="{% static 'css/stylish.css' %}"> 
{% endblock %}


{% block body %}

{% if isprof %}
    <a href="{{ course.course_code }}/addannouncement"><button class="btn btn-primary m-2" style="border-color: black">Add Announcements</button></a>
{% endif %}
  <div class="list-group container-fluid">
    {% for x in announce %}
    <div class="m-3 p-2" style="border-radius: 8px;">
      <div class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1" style="color:#eb6e54"><b>Title:</b> {{x.title}}</h5>
        <small>{{x.timestamp}}</small>
      </div>
      <p class="mb-1"><b>Description: </b>{{x.description}}</p>
      <small>{{x.user}}</small>
    </div>
    </div>
    {% endfor %}
  </div>


  {% endblock %}