{% extends 'navbar.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/announcements.css' %}">
<link rel="stylesheet" href="{% static 'css/stylish.css' %}"> 
<style>
  .button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: rgb(109, 109, 255);
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .button-5:hover,
  .button-5:focus {
    background-color: rgb(109, 109, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .button-5:hover {
    background-color: #ecccc5;  
    transform: translateY(-1px);
  }
  
  .button-5:active {
    background-color: rgb(109, 109, 255);
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }
  </style>
{% endblock %}


{% block body %}

  <div class="list-group container-fluid">
    {% for x in announce %}
    <div class="m-3 p-2" style="border-radius: 8px;">
      <div class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1" style="color:rgb(109, 109, 255)"><b>Title:</b> {{x.title}}</h5>
        <small>{{x.timestamp}}</small>
      </div>
      <p class="mb-1"><b>Description: </b>{{x.description}}</p>
      <small>{{x.user}}</small>
    </div>
    </div>
    {% endfor %}
    {% if isprof %}
    <div style="padding-top:25px; padding-left:25px;"><a href="{{ course.course_code }}/addannouncement"><button class="button-5" role="button">Add Announcements</button></a></div>
{% endif %}
  </div>


  {% endblock %}