{% extends 'base.html' %}
{% load static %}

    {% block head %}

    <link rel="stylesheet" href="{% static 'css/stylish.css' %}">
    <link rel="stylesheet" href="{% static 'css/my_course_student.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="static/css/course_dashboard_student.css">

        <style>
          .button-5 {
            align-items: center;
            background-clip: padding-box;
            background-color: #cccc00;
            border: 1px solid transparent;
            border-radius: .25rem;
            box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
            box-sizing: border-box;
            color: black;
            cursor: pointer;
            display: inline-flex;
            font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 16px;
            font-weight: 600;
            justify-content: center;
            line-height: 1.25;
            margin: 0;
            min-height: 3rem;
            padding: calc(.875rem - 1px) calc(1.5rem - 1px);
            position: relative;
            text-decoration: none;
            transition: all 250ms;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            vertical-align: baseline;
            width: auto;
          }
          
          .button-5:hover,
          .button-5:focus {
            box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
          }
          
          .button-5:hover {
            background-color: #999900;  
            transform: translateY(-1px);
          }
          
          .button-5:active {
            background-color: rgb(109, 109, 255);
            box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
            transform: translateY(0);
          }

            .solutions-box{
                transition: all 0.1s ease-in-out ;
            }

            .solutions-box:hover{
                transform: scale(1.05);
            }

            .button-3 {
                align-items: center;
                background-clip: padding-box;
                background-color: rgb(109, 109, 255);
                border: 1px solid transparent;
                border-radius: .25rem;
                box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
                box-sizing: border-box;
                color: #fff;
                cursor: pointer;
                display: inline-flex;
                font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
                font-size: 16px;
                font-weight: 600;
                justify-content: center;
                line-height: 1.25;
                margin: 0;
                min-height: 2.3rem;
                padding: calc(.7 - 1px) calc(1.5rem - 1px);
                position: relative;
                text-decoration: none;
                transition: all 250ms;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
                vertical-align: baseline;
                width: 5rem;
              }
              
              .button-3:hover,
              .button-3:focus {
                background-color: rgb(109, 109, 255);
                box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
              }
              
              .button-3:hover {
                background-color: green;  
                transform: translateY(-1px);
              }
              
              .button-3:active {
                background-color: rgb(109, 109, 255);
                box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
                transform: translateY(0);
              }

              body{
                background-image: url("/static/images/img_03.jpg");
                background-size: cover;
              }
            </style>
    {% endblock %}

    {% block search %}
    <form class="form-inline my-2 my-lg-0" action="/coursedashboard/search" method="POST">
      {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="Search">
      <button class="button-3" type="submit" style="background-color: white; color: black; border-color: white;">Search</button>
    </form>
  {% endblock %}

{% block body %}
<section class="solutions-section" id="oursolutions">
    <div class="container" >
        <div class="row mb-4">
            <div class="col-12">
              
                <div class="solutions-main" >
                
                    {% for course in courses %}
                    <div class="solutions-box container-fluid" style="background-color: rgb(254, 254, 254);  border: solid 1px; border-color: rgb(173, 173, 173); opacity: 0.9;">
                        <h4 class="baskerville-font" style="color: black; font-size: 1.5rem; font-family: 'Nunito';"><b>{{ course.name }}</b></h4>
                        <h5 class="baskerville-font">{{ course.course_code }}</h5>
                        <p class="baskerville-font">{{ course.faculty }}</p>
                        <div style="padding-top: 50px;">
                            <button class='button-5' onclick="window.location.href = '/enroll/{{ course.course_code}}';";>Enroll course</button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
        



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

        <script>
            function enroll(id) {
                document.getElementById(id).innerHTML = "Enrolled";

                const button = document.querySelector(id);

                const disableButton = () => {
                    button.disabled = true;
                };

                button.addEventListener('click', disableButton);
            }

            function search_courses() { 
                let input = document.getElementById('searchbar').value 
                input=input.toLowerCase(); 

                let cour = document.getElementsByClassName('card-title'); 
      
                for (i = 0; i < cour.length; i++) {  
                    console.log(cour[i]);
                    var par=cour[i].closest('.card');
                    if (!cour[i].innerHTML.toLowerCase().includes(input)) { 
                        par.style.display="none"; 
                    }            
                    else { 
                        par.style.display="block";                  
                    }    
                } 
            }
        </script>
{% endblock %}
