{% extends 'navbar.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/announcements.css' %}">

<style>
  body{
    background-image: url("/static/images/img_03.jpg");
    background-repeat: repeat;
  }
</style>
{% endblock %}

{% block body %}
  <div class="list-group container-fluid">
    {% for x in feedback %}
    <div class="m-3 p-2" style="border-radius: 8px; opacity: 0.9;">
      <div class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h6 class="mb-1"><span style="color:black"><b>Feedback: </b></span> {{x.fb}}</h6>
            <small>{{x.timestamp}}</small>
        </div>  
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}