{% extends 'navbar.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/announcements.css' %}">
<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>

<style>
  body{
    background-image: url("/static/images/img_03.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
  }
  .list-group {
        display: contents;
      }
      .ww {
  box-shadow: 5px;

}
.ww:hover{
  box-shadow: 5px 5px 10px #4b6d78;;
}
</style>
{% endblock %}

{% block body %}
  <div class="list-group container-fluid">
    {% for x in feedback %}
    <div class="m-3 p-2" style="border-radius: 8px; opacity: 0.9;">
      <div class="list-group-item list-group-item-action ww">
        <div class="d-flex w-100 justify-content-between">
            <div class="mb-1" style="font-family: 'Nunito'; font-size: 1.1rem;"><span style="color:black;"><b style="color: #004574; font-family: 'Nunito'; font-size: 1.2rem;">Feedback: </b></span> {{x.fb}}</div>
            <small>{{x.timestamp}}</small>
        </div>  
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}