{% extends 'navbar.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/announcements.css' %}">
{% endblock %}

{% block body %}
  <div class="list-group container-fluid">
    {% for x in feedback %}
    <div class="m-3 p-2" style="border-radius: 8px;">
      <div class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h6 class="mb-1"><span style="color:#eb6354"><b>Feedback: </b></span> {{x.fb}}</h6>
            <small>{{x.timestamp}}</small>
        </div>  
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}