{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" />

    <title>Academix Portal</title>
    <link rel="stylesheet" href="{% static 'css/course_dashboard_student.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylish.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="static/css/course_dashboard_student.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg nav">
        <a class="navbar-brand" href="#">USER NAME</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Dashboard<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Profile <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <div class="dropdown">
                        <div class="btn dropdown-toggle" style="color: white ;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="color: #007bff">
                          Courses
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="#">My Courses</a></li>
                          <li><a class="dropdown-item" href="#">Other Courses</a></li>
                        </ul>
                      </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="login/student">Logout<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input name="search" id="searchbar" onkeyup="search_courses()" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav> 

    <div class="container-fluid whole">
        <div class="row mb-4">
        {% for course in enrolled %}
        
            <div class="col-sm-3 " style="padding-top: 15px;">
                <div class="card backcolor ">
                    <div class="row mb-4" style="text-align: center; padding: 5px;">
                        <h2 class="card-title" >{{ course.name }}</h2>

                    </div>
                    <div class="row mb-4" style="text-align: center; padding: 5px;">
                        <h5 class="card-title">{{ course.course_code}}</h5>
                    </div>

                    <div class="row mb-4" style="text-align: center; padding: 5px;">
                        <p>{{ course.faculty}}</p>
                    </div>
                    <div class="row mx-auto" style="padding-top: 50px;">
                        <button class='btn btn-info' style= "background-color: #008adf;" window.location.href = '/mycourse/{{ course.course_code }}'>View Course</button>    
                    </div>
                </div>
            </div>
        
        {% endfor %}
    </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

        <script>
            function enroll(id) {
                document.getElementById(id).innerHTML = "Enrolled";

                const button = document.querySelector(id);

                const disableButton = () => {
                    button.disabled = true;
                };

                button.addEventListener('click', disableButton);
            }

            function search_courses() { 
                let input = document.getElementById('searchbar').value 
                input=input.toLowerCase(); 

                let cour = document.getElementsByClassName('card-title'); 
      
                for (i = 0; i < cour.length; i++) {  
                    console.log(cour[i]);
                    var par=cour[i].closest('.card');
                    if (!cour[i].innerHTML.toLowerCase().includes(input)) { 
                        par.style.display="none"; 
                    }            
                    else { 
                        par.style.display="block";                  
                    }    
                } 
            }
        </script>
</body>

</html>