
{% load static %}


{% block content %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset_form.css' %}"> -->
<!-- <link rel="stylesheet" href="{% static 'css/login_page_student.css' %}"> -->

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <style media="screen">
      *,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -30px;
    bottom: -80px;
}
form{
      /* height: 510px;*/
      width: 400px; 
    background-color: rgba(255,255,255,0.13);
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: absolute;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: black;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: black;
}
button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}  
#reg{
  display: none;
  transform: translate(-50%,-20%);
  height: 1180px;
}
#error{
  text-align: center;
  margin-top: 10px;
}

</style>  

<!-- <body>
  <div class="shape shape-t"></div>
  <div class="shape shape-b"></div>
    <div class="container h-100">
      <div class="row h-100 m-auto form-cont">
          <form class="forms p-5 m-auto" method="POST">
            {% csrf_token %}
            <div class="mb-4">
              <h3 class="form-heading">Create New Password</h3>
              <div class="text-danger text-center">
                {% if messages %}
                  {% for message in messages %}
                    <h6>{{ message }}</h6>
                  {% endfor %}
              {% endif %}
              </div>
            </div>
			<div class="mb-4">
				<i>Note: Your password must be of atleast 8 characters. </i>
			</div>
            <div class="mb-3">
              	<input type="password" class="form-control" placeholder="New Password" id="pass" name="new_password1" required>
            </div>
			<div class="mb-5">
              	<input type="password" class="form-control" placeholder="Confirm New Password" id="pass" name="new_password2" required>
            </div>

            <div class="w-100 d-flex">
                <button class="cbtn btn btn-primary" type="submit"><b>Set New Password</b></button>
            </div>
           
          </form>
      </div>
    </div>
</body> -->


<body>
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
      <form id="log" method = "POST" onsubmit="return checklog(this)">
         {% csrf_token %}
         <h3>Create New Password</h3>
         <h6 id="error" style="color: #ff512f; display: none;"></h6>
        <label for="user">Enter New password</label>
        <input type="password" class="form-control" class="form-control" placeholder="New Password" id="pass" name="new_password1" required>
  
        <label for="password">Confirm New password</label>
        <input type="password" class="form-control" placeholder="Confirm New Password" id="pass" name="new_password2" required>
  
        <button class="btn btn-primary" style="margin-top: 15px;" type="submit">Set New Password</button>
        
      </form>
      </body>
      <script>
      function checklog(form){
      const checkpass1=form.new_password1.value;
      const checkpass2=form.new_password2.value; 
      if(checkpass1.length<8){
        document.getElementById("error").innerHTML="Password must be greater than 8 characters";
        document.getElementById("error").style.display="block";
        return false;
      }
      else if(checkpass1!=checkpass2){
        document.getElementById("error").innerHTML="Passwords do not match";
        document.getElementById("error").style.display="block";
        return false;
      }
      const regex = /[^A-Za-z0-9]/; 
      let ans=checkpass1.match(/[A-Z]/)&&checkpass1.match(/[a-z]/)&&checkpass1.match(/[1-9]/)&&regex.test(checkpass1)?1:0;
      if(ans==0){
        document.getElementById("error").innerHTML="Password must contain atleast one uppercase, one lowercase, one digit and one special character";
        document.getElementById("error").style.display="block";
        return false;
      }
      document.getElementById("error").style.display="none";
      return true;
    }
      </script>

{% endblock %}

