{% extends 'navbar.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/announcements.css' %}">
<link rel="stylesheet" href="{% static 'css/stylish.css' %}">

<style>
  .button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: rgb(109, 109, 255);
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .button-5:hover,
  .button-5:focus {
    background-color: rgb(109, 109, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .button-5:hover {
    background-color: #ecccc5;  
    transform: translateY(-1px);
  }
  
  .button-5:active {
    background-color: rgb(109, 109, 255);
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }
  </style>
{% endblock%}

{% block body %}


<div class="container d-flex align-items-center justify-content-center" style="padding-top:10%; ">
    <form action="/mycourse/{{course.course_code}}/replyquery/{{SQuery.id}}" method="post" style="border-radius: 10px; padding: 10px; background-color: rgb(232, 232, 232);">
        {% csrf_token %}
        <div class="container-fluid text-center">
               <div class="form-group">
                <label for="reply"><b>Reply to Query : </b></label><br>
                <textarea required class="wh" name="reply"></textarea>
                {% csrf_token %}
              </div>
              <button type="submit" class="button-5" style="line-height: 1.2rem;">Reply</button>
          </div> 
          
    </form>
</div>

  {% endblock %}