{% extends 'navbar.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/announcements.css' %}">
<style>
    .button-5 {
      align-items: center;
      background-clip: padding-box;
      background-color: #ff0000;
      border: 1px solid transparent;
      border-radius: .25rem;
      box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
      box-sizing: border-box;
      color: black;
      cursor: pointer;
      display: inline-flex;
      font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 16px;
      font-weight: 600;
      justify-content: center;
      line-height: 1.25;
      margin: 0;
      min-height: 3rem;
      padding: calc(.875rem - 1px) calc(1.5rem - 1px);
      position: relative;
      text-decoration: none;
      transition: all 250ms;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: baseline;
      width: auto;
    }
    .list-group {
        display: contents;
      }
    
    .button-5:hover,
    .button-5:focus {
      box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    }
    
    .button-5:hover {
      background-color: #cc0000;  
      transform: translateY(-1px);
    }
    
    .button-5:active {
      background-color: rgb(109, 109, 255);
      box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
      transform: translateY(0);
    }

    .button-3 {
      align-items: center;
      background-clip: padding-box;
      background-color: #cccc00;
      border: 1px solid transparent;
      border-radius: .25rem;
      box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
      box-sizing: border-box;
      color: black;
      cursor: pointer;
      display: inline-flex;
      font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 16px;
      font-weight: 600;
      justify-content: center;
      line-height: 1.25;
      margin: 0;
      min-height: 2rem;
      padding: calc(.5rem - 1px) calc(1rem - 1px);
      position: relative;
      text-decoration: none;
      transition: all 250ms;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: baseline;
      width: auto;
    }
    
    .button-3:hover,
    .button-3:focus {
      box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    }
    
    .button-3:hover {
      background-color: #999900;  
      transform: translateY(-1px);
    }
    
    .button-3:active {
      background-color: rgb(109, 109, 255);
      box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
      transform: translateY(0);
    }

    body{
      background-image: url("/static/images/img_03.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
    .ww {
  box-shadow: 5px;

}
.ww:hover{
  box-shadow: 5px 5px 10px ;
}
    </style>
{% endblock %}

{% block body %}
    <div class="list-group container-fluid">
      <div class="col-12">
        <div style="padding-top:25px; padding-left:25px;"><a href="/mycourse/{{ course.course_code }}/createassignment"><button class="button-3 text-white" role="button" style="background-color: #004574">Create Assignment<i class="fa-regular fa-square-plus fa-lg " style="padding-left: 10px;"></i></button></a></div>
        {% if messages %}
  {% for msg in messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{ msg }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
        {% for x in assign %}
        <div class="m-3 p-2" style="border-radius: 8px; opacity: 0.9;">
          <div class="list-group-item list-group-item-action ww" >
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1" style="color:black"><i class="fa-regular fa-file-lines fa-lg" style="padding-right:10px ;"></i><b> {{x.name}}</b></h5>
                <small><b>Due-Date: </b>{{x.duedate}}</small>
            </div>
            
            <hr class="my-2 border">
            <button onclick="location.href='/mycourse/{{ course.course_code }}/{{x.name}}/deleteassignment'"role="button" class="button-3 text-white" style="float:right; background-color: #004574;">Remove &nbsp;<i class="fa-regular fa-trash-can fa-lg"></i></button>

            <p class="mb-1" style="padding-top: 5px; color:black;"><b>Description: </b>{{x.description}}</p>
            <p class="mb-1" style="padding-top: 5px; color:black;"><b>Max-Grade: </b>{{x.max_grade}}</p>
            <p class="mb-1" style="padding-top: 5px;"><b><a href="https://cms-it314-bucket.s3.ap-south-1.amazonaws.com/{{x.attachment}}" style="color: #004574;">Attachment</a></b>
            <div style="padding: 10px; padding-top: 25px;">
                <a href="/mycourse/{{ course.course_code }}/{{x.name}}/editassignment"><button role="button" class="button-3 text-white" style=" background-color: #004574;">Edit Assignment<i class="fa-regular fa-pen-to-square fa-lg" style="padding-left: 10px;"></i></button></a>
                    <a href="/mycourse/{{ course.course_code }}/{{x.name}}/viewstudentssubmission"><button role="button" class="button-3 text-white" style=" background-color: #004574;">View Students Submission<i class="fa-regular fa-address-card fa-lg" style="padding-left: 10px;"></i></button></a>
                </div>
        </div>
        </div>
        {% endfor %}
      </div>

        

    </div>

{% endblock %}

