{% extends 'navbar.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/announcements.css' %}">
<style>
    .button-5 {
      align-items: center;
      background-clip: padding-box;
      background-color: rgb(109, 109, 255);
      border: 1px solid transparent;
      border-radius: .25rem;
      box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      display: inline-flex;
      font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 16px;
      font-weight: 600;
      justify-content: center;
      line-height: 1.25;
      margin: 0;
      min-height: 3rem;
      padding: calc(.875rem - 1px) calc(1.5rem - 1px);
      position: relative;
      text-decoration: none;
      transition: all 250ms;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: baseline;
      width: auto;
    }
    
    .button-5:hover,
    .button-5:focus {
      background-color: rgb(109, 109, 255);
      box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    }
    
    .button-5:hover {
      background-color: #ecccc5;  
      transform: translateY(-1px);
    }
    
    .button-5:active {
      background-color: rgb(109, 109, 255);
      box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
      transform: translateY(0);
    }

    .button-3 {
      align-items: center;
      background-clip: padding-box;
      background-color: rgb(109, 109, 255);
      border: 1px solid transparent;
      border-radius: .25rem;
      box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      display: inline-flex;
      font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 16px;
      font-weight: 600;
      justify-content: center;
      line-height: 1.25;
      margin: 0;
      min-height: 2rem;
      padding: calc(.5rem - 1px) calc(1rem - 1px);
      position: relative;
      text-decoration: none;
      transition: all 250ms;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: baseline;
      width: auto;
    }
    
    .button-3:hover,
    .button-3:focus {
      background-color: rgb(109, 109, 255);
      box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    }
    
    .button-3:hover {
      background-color: #ecccc5;  
      transform: translateY(-1px);
    }
    
    .button-3:active {
      background-color: rgb(109, 109, 255);
      box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
      transform: translateY(0);
    }
    </style>
{% endblock %}

{% block body %}
    <div class="list-group container-fluid">
        {% for x in assign %}
        <div class="m-3 p-2" style="border-radius: 8px;">
          <div class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1" style="color:rgb(109, 109, 255)"><b>Assignment Name:</b> {{x.name}}</h5>
                <small><b>Due-Date: </b>{{x.duedate}}</small>
            </div>
            <button type="submit" class="button-3" style="float:right;">Remove</button>
            <p class="mb-1" style="padding-top: 25px;"><b>Description: </b>{{x.description}}</p>
            <p class="mb-1" style="padding-top: 5px;"><b>Max-Grade: </b>{{x.max_grade}}</p>
            <p class="mb-1" style="padding-top: 5px;"><b>Attachment: </b>{{x.attachment}}</p>
            <div style="padding: 10px; padding-top: 25px;">
                <a href="/mycourse/{{ course.course_code }}/{{x.name}}/editassignment"><button class="button-5" role="button">Edit Assignment</button></a>
                    <a href="/mycourse/{{ course.course_code }}/{{x.name}}/viewstudentssubmission"><button class="button-5" role="button">View Students Submission</button></a>
                </div>
        </div>
        </div>
        {% endfor %}

        <div style="padding-top:25px; padding-left:25px;"><a href="/mycourse/{{ course.course_code }}/createassignment"><button class="button-5" role="button">Create Assignment</button></a></div>

    </div>

{% endblock %}

