{% extends 'navbar.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/announcements.css' %}">
<link rel="stylesheet" href="{% static 'css/stylish.css' %}">
{% endblock%}

{% block body %}

{% if not isprof %}
<a href="/mycourse/{{ course.course_code }}/addquery"><button class="btn btn-primary m-2"
        style="border-color: black">Raise Query</button></a>
{% endif %}
<div class="container-fluid">
    {% for q in Query %}
    <div class="m-3 p-2" style="border:solid 1px; border-radius: 8px; background-color: #b5adad">
        <p><b>{{q.user.first_name}} {{q.user.last_name}}</b> : {{q.qry}}</p>
        {% if q.reply %}
        <p><b>{{course.faculty.first_name}} {{course.faculty.last_name}}</b> : {{q.reply}}</p>
        {% endif %}
        {% if isprof %}
        {% if not q.reply%}
        <a href="/mycourse/{{ course.course_code }}/replyquery/{{q.id}}"><button class="btn btn-primary m-2"
            style="border-color: black">Reply</button></a>
        {% endif %}
        {% endif %}
    </div>
    {% endfor %}
</div>

{% endblock %}