{% extends 'navbar.html' %}
{% load static %}


{% block body %}
    <div class="container-fluid">
        <div class="row mb-4">
        {% for x,y in merged %}
            <div class="col-sm-12" style="padding-top: 5px">
                    <div class="card-body">
                <div class="card" style="min-height: 330px; background-color: #b5adad;">    
                        <h3 class="card-text">{{ course.faculty }}</h3>
                        <div class="card-text"><b>Assignment Name : </b>{{ x.name }}
                            
                        </div><br>
                        <div class="card-text"><b>Description : </b>{{ x.description }}
                            
                        </div><br>
                        <div class="card-text"><b>Due-Date : </b>{{ x.duedate }}</div><br>
                        <div class="card-text"><b>Max-Grade : </b>{{ x.max_grade }}</div><br>
                        <p><b>Attachment : </b>{{ x.attachment }}</p>
                        {% if y %}
                        <div class="card-text"><b>Status : </b>{{ y.0.feedback }}</div><br>
                        {% if y.0.graded %}
                        <div class="card-text"><b>Graded : </b>{{ y.0.grade }}</div><br>
                        {% else %}
                        <div class="card-text"><b>Graded : </b>Not Yet</div><br>
                        {% endif %}
                        {% endif %}

                        {% if not y %}
                        <form action="/mycourses/{{ course.course_code}}/{{x.name}}/addsubmission"  method="post">
                            {% csrf_token %}
                            <label for="work"><b>Submission File : </b></label>
                            <input type="url" id="work" name="work" required="True"> 
                            <button type="submit" class="btn btn-primary" style="float:right; background-color: rgb(109, 109, 255); border-radius: 7px; border-color: rgb(255, 255, 255);">Submit</button> 
                        </form>
                        {% else %}
                        <!-- <p>Submitted : {{y.0.work}}</p> -->
                        <form action="/mycourses/{{ course.course_code}}/{{x.name}}/editsubmission"  method="post">
                            {% csrf_token %}
                            <label for="work"><b>Submisson File : </b></label>
                            <input type="url" id="work" name="work" required="True" value="{{y.0.work}}"> 
                            <button type="submit" class="btn btn-primary" style="float:right; background-color: rgb(109, 109, 255); border-radius: 7px; border-color: rgb(255, 255, 255);">Edit Submission</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

