{% extends 'navbar.html' %}
{% load static %}


{% block body %}


<div class="container-fluid">
    {% for s in submission %}
    <div class="m-3 p-2" style="border:solid 1px; border-radius: 8px; background-color: #b5adad">
      <h5>{{s.student.first_name}} {{s.student.last_name}}'s Submission</h5>
      <div><b>Submission Link</b> : <a href="{{s.work}}">Link</a></div>
      <p>Status : {{s.feedback}}</p>
      {% if s.graded %}
      <p>Grade Obtained: {{s.grade}}</p>
      <form action="/mycourse/{{course.course_code}}/{{assignment.name}}/viewstudentssubmission/{{s.id}}/grade" method="post">
        {% csrf_token %}
        <input type="number" id="grade" name="grade">
        <br>
        <input type="submit" value="ReGrade Assignment">
    </form>
      {% else %}
      <form action="/mycourse/{{course.course_code}}/{{assignment.name}}/viewstudentssubmission/{{s.id}}/grade" method="post">
        {% csrf_token %}
        <input type="number" id="grade" name="grade">
        <br>
        <input type="submit" value="Grade Assignment">
    </form>
      {% endif %}
    </div>
    {% endfor %}
  </div>

{% endblock %}