{% extends 'navbar.html' %}
{% load static %}


{% block body %}

    <button><a href="/mycourse/{{ course.course_code }}/createassignment">Create Assignment</a></button>
    <div class="container-fluid">
        <div class="row mb-4">
        {% for x,y in merged %}
            <div class="col-sm-4" style="padding-top: 10px">
                <button><a href="/mycourse/{{ course.course_code }}/{{x.name}}/editassignment">Edit Assignment</a></button>
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-text">{{ course.faculty }}</h3>
                        <h3 class="card-text">{{ x.name }}</h3>
                        <h5 class="card-text">{{ x.description }}</h5>
                        <h5 class="card-text">{{ x.duedate }}</h5>
                        <h5 class="card-text">{{ x.max_grade }}</h5>
                        <p>Attachment : {{ x.attachment }}</p>
                        {% if not y %}
                        <form action="/mycourses/{{ course.course_code}}/{{x.name}}/addsubmission"  method="post">
                            {% csrf_token %}
                            <label for="work">File:</label>
                            <input type="url" id="work" name="work" required="True"> 
                            <button type="submit" class="btn border" style="float:right">Submit</button>  
                        </form>
                        {% else %}
                        <!-- <p>Submitted : {{y.0.work}}</p> -->
                        <form action="/mycourses/{{ course.course_code}}/{{x.name}}/editsubmission"  method="post">
                            {% csrf_token %}
                            <label for="work">File:</label>
                            <input type="url" id="work" name="work" required="True" value="{{y.0.work}}"> 
                            <button type="submit" class="btn border" style="float:right">Edit Submission</button>  
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

